/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}

:root {
    --body-font: "Roboto", sans-serif;
    --heading-font: "Bruno Ace SC", sans-serif;
    --lt-font-color: #BFBFBF;
    --dk-background-color: #404040;
    --dk-font-color: #262626;
    --lt-background-color: #BFBFBF;
}

.light {
    color: var(--dk-font-color);
    background-color: var(--lt-background-color);
}

.dark {
    color: var(--lt-font-color);
    background-color: var(--dk-background-color);
}

h1,h2,h3 {
    font-family: var(--heading-font);
}

body {
    font-family: var(--body-font);
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 400;
}

/* HEADER STYLES */
header {
    background: url(images/space-1920px.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 1280px;
    color: var(--lt-font-color);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 3rem;
    padding:  1rem 1rem 0 0;
    align-self: flex-end;
}

header p {
    padding: 1rem;
    line-height: 1.4;
    max-width: 95%;
    font-size: 1.4rem;
}

/* MAIN STYLES */
h2 {
    font-size: 1.8rem;
    padding: 1rem;
}

img {
    width: 100%;
    max-width: 640px;
    height: auto;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    padding-bottom: .5rem;
}

section > div {
    /* display: flex;
    flex-direction: row;
    overflow-x: scroll; */
    display: grid;
    grid-template-columns: 90% 90% 90%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-bottom: 1rem;
}

section > p {
    font-weight: 500;
    padding: 1rem;
    font-size: 1.6rem;
}

ul {
    list-style-type: "\027A4";
    padding-left: 2rem;
    padding-bottom: 1rem;
}

li {
    padding: .1rem 1rem;
}

/* SHOP FORM STYLES */
h3 {
    font-size: 1.8rem;
    padding: 1rem;
}

button {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
}

form > p {
    font-size: 1.3rem;
    font-style: italic;
    line-height: 1.2;
    padding: 0 1rem 1rem 1rem;
}

form > p:before {
    content: "* ";
}

form > div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

div > article {
    padding: 1rem;
    background-color: var(--dk-background-color);
    border-radius: 10px;
}

h4 {
    font-size: 1.6rem;
    font-weight: bold;
}

article > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div > p {
    font-weight: 500;
    font-size: 1.4rem;
}

input[type="checkbox"] {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

div > label {
    padding: .5rem;
    border-radius: 20px;
    font-size: 1.2rem;
}

input[type="color"] {
    height: 6rem;
    width: 100%;
    margin: .5rem 0;
}